.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} 

.stage{
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctrl {
  display: flex;
  flex: 1;
  width: 100%;
  height: 150px;
  align-items:center;
  justify-content: space-evenly;
}

.screen {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.loading-pan{
  position: absolute;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

.hide{
  display: none;
}

canvas {
  width: 100%;
  /* height: 100%; */
}



.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keys{
  width: 150px;
  height: 150px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.row {
  display: flex;
}

.block {
  width: 45px;
  height: 45px;
}

.ranking{
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}